.vscode
.env
.DS_Store
*.log
*.deb
*.backup
.tmp
*.local.txt

ca.crt

# /data is used for filebeats using --path.data data/...
/data

# Terraform
.terraform
*.tfstate
.terraform.tfstate.lock.info
*.tfvars
!*.EXAMPLE.tfvars
override.tf

# Infracost
.infracost
.infracost-reports
